<h1><%= @registered_application.name %></h1>
<p>Application URL: <%= @registered_application.url %></p>
<p>Number of Events: <%= @registered_application.events.count %></p>
<%= pie_chart @registered_application.events.group(:name).count %>
<%= line_chart @registered_application.events.group_by_day(:created_at).count %>



<%= link_to "Delete Registered Application", @registered_application, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this registered application?'} %>
